.Movies {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
  }
  .Movies-drop1 {
    margin-bottom: 1rem;
  }
  
  .btn-dark {
    width: 10rem;
    border-bottom: 2px solid white;
  }
  .pagination {
    display: flex;
    justify-content: center;
  }
  .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    /* border: 1px solid #ddd; */
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: red;
    color: black;
    border: 1px solid red;
  }
  
  .pagination a:hover:not(.active) {
    background-color: red;
    color: black;
  }
  .slider {
    background-color: black;
    width: 10rem;
  }
  .dropdown-menu {
    background-color: black;
    width: 10rem;
    padding: 2rem;
  
    color: white;
  }
  .hide {
    display: none;
  }
  .showS {
    display: flex;
    justify-content: center;
    background-color: black;
  
    color: white;
  }
  .genreBtn {
    background-color: red;
    padding: 0.5rem;
    width: 8rem;
    margin-bottom: 1rem;
    border-radius: 13px;
    background: rgb(240, 37, 8);
    background: linear-gradient(
      90deg,
      rgba(240, 37, 8, 1) 1%,
      rgba(18, 17, 17, 1) 85%
    );
  }
  .Movies-btn {
    display: flex;
    margin-top: 1rem;
    width: 20rem;
  }
  /* .Movies-form{
    width:210px;
  } */
  .rc-slider-rail {
    width: 210px;
  }
  .movies-form1 {
    width: 25rem;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .Movies-slider {
    width: 20rem;
  }
  .horizontal-slider {
    width: 100%;
    max-width: 300px;
    height: 50px;
    border: 1px solid grey;
  }
  .horizontal-slider .example-track {
    top: 20px;
    height: 10px;
  }
  
  .example-track.example-track-1 {
    background-color: red;
  }
  .example-track.example-track-0 {
    background-color: gray;
  }
  .example-track.example-track-2 {
    background-color: gray;
  }
  .horizontal-slider .example-thumb {
    top: 1px;
    width: 50px;
    height: 48px;
    line-height: 38px;
    font-size: 0.9em;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 3px solid gray;
    box-sizing: border-box;
    border-radius: 50%;
  }
  .closeYear,.closeGenre{
    margin-left: 2rem;
  }
  
  @media only screen and (max-width: 768px) {
    .Movies {
      flex-direction: column;
      width: 100vw;
    }
    .Movies-form {
      width: 110px;
    }
    .dropdown-toggle {
      width: 6rem;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .movies-form1 .mv-search {
      width: 13rem;
    }
    .movies-form1 {
      width: 10rem;
      display: flex;
      justify-content: center;
    }
    .Movies-drop1 {
      margin-top: 2rem;
      margin-left: 1rem;
    }
    .Movies-dropF {
      margin-left: 1rem;
      margin-bottom: 1.5rem;
    }
    .Movies-slider {
      width: 25rem;
      margin-left: 1rem;
    }
  
    .pagination li a {
      width: 2rem;
      height: 2rem;
    }
    .show {
      margin-bottom: 1.5rem;
  
      align-items: center;
    }
  }