.Trailer-screen{
    display:flex;
    justify-content: center;
    color:black;
    background-color: black;
    width:50rem;
   
  }
  .modal-header button{
    color:white;
    background-color: white;
  }
  .modal-header{
    display:flex;
    justify-content: center;
    background-color: black;
    color:white;
    width:50rem;
  
  
  }
  .modal-title{
    margin-left: 20rem;
  }
  @media only screen and (max-width:768px){
    .Trailer-screen{
      width:100%;
      height:50%;
    }
    .modal-content, .modal-header{
      width:100%;
     
      background-color: black;
    }
   
  }
  