body {
  background-color: black !important ;
  color: white !important ;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.banner {
  height: 600px;
  display: flex;
  align-items: center;
}

.banner::before{
  position: absolute;
  left:0;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right, black, transparent);
} 

.banner-info {
  width: 40%;
  margin-left: 30px;
  z-index: 1;
}

.card{
  width: 300px;
  height: 200px;
}

.overlay {
  opacity : 0;
  background: rgba(43, 41, 41, 0.9);
  width: 100%;
  height: 100%;
}

.card:hover .overlay {
  opacity: 1;
  background:rgba(43,41,41,0.9);
  width:100%;
  height:100%;
}

.movies{
  height:500px;
background-repeat: no-repeat;
background-size:'cover'

}
@media only screen and (max-width:768px){
  .MovieCard{
    margin:3rem;
    
  }
}